body {
	font-family: "宋体";
	font-size: 12px;
	margin-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
}
/*定义菜单方框的样式2*/
.skin1 {
padding-top:0px;
cursor:default;
font:menutext;
position:absolute;
text-align:left;
font-family: "宋体";
font-size: 10pt;
width:120px;              /*宽度，可以根据实际的菜单项目名称的长度进行适当地调整*/
background-color: white;    /*菜单的背景颜色方案，这里选择了系统默认的菜单颜色*/
border: 1px solid #000000;
visibility:hidden;        /*初始时，设置为不可见*/
border:2 outset buttonhighlight;
}

/*定义菜单条的显示样式*/
.menuitems {
padding:2px 2px 2px 2px;
}
-->